/* Code for standard 1920 px browser */

/* Setting Background Image */

body {
    background-image: url("../Images/galax.jpg");
}

/* Primary Fixed Navbar */

nav {
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0, 0.85);
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none; 
    color: white;
    padding: 1em 2em;
    transition-duration: 1s;
    font-family: 'Permanent Marker', sans-serif;
}   

nav a:hover {
    background-color: white;
    color: black;
    transition-duration: 1s;
}

/* Home Page */

#home-wrapper {
    background-color: black;
    margin: 4.5% 15%;
    border-radius: 5%;
    padding: 4%;
    overflow: hidden;
    display: flex;
    height: 28em;
}

#left-content {
    max-width: 33%;
}

#right-content {
    margin-left: 2%;
}

#right-content #text {
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
    color: white; 
    font-size: 25px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    height: 3em;
}

#right-content article {
    display: flex;
    flex-direction: row;
    margin-top: -5%;
}

#right-content article a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

#planets {
    text-align: center;
    padding: 0.5em;
    display: block;
}

#planets img {
    max-width: 98%;
}

#sun {
    text-align: center; 
    padding: 0.5em;
}

#sun img {
    max-width: 100%;
}

#moon {
    text-align: center;
    padding: 0.5em;
    margin-top: 1.4em;
}

#moon img {
    max-width: 100%;
}

#map img {
    height: 400px;
    width: 600px;
}

#choices p:hover img {
    opacity: 0.75
}

#planets:hover a {
    text-decoration: none;
    color: red;
    font-family: 'Permanent Marker', cursive;
}

#sun:hover a {
    text-decoration: none;
    color: orange;
    font-family: 'Permanent Marker', cursive;
}

#moon:hover a {
    text-decoration: none;
    color: silver;
    font-family: 'Permanent Marker', cursive;
}

#about-button {
    margin-top: 8%;
}

#about-button button {
    height: 30px;
    width: 100px;    
    float: right;
    font-family: 'Permanent Marker', cursive;
    transition-duration: 1s;
}

#about-button button:hover {
    color: white;
    background: black;
    border: 1px solid white;
    transition-duration: 1s;
}

/* Planets Page */

#planets-wrapper {
    background-color: black;
    margin: 1% 15%;
    border-radius: 5%;
    padding: 1.5% 4%;  
    overflow: hidden;  
    display: inline-block;
    height: 79%;
}

#title {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
}

#row1 {
    display: flex;
    flex-direction: row;
}

#row2 {
    display: flex;
    flex-direction: row;
}

#row1 article {
    margin: 0em 2%;
}

#row2 article {
    margin: 0em 2%;
}

#planets article::first-line {
    font-size: 1.5em;
    font-family: 'Permanent Marker', cursive;
}

#planets article p {
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
#planets article:hover {
    cursor: pointer;
}

#planets article img {
    max-width: 5em;
}

#planets article:hover img {
    opacity: 0.5;
}

#planets article:hover p::first-line {
    color: red;
    font-size: 1.5em;
    font-family: 'Permanent Marker', cursive;
}

/* Individual planet pages */

.individual-planet-wrapper {
    background-color: black;
    margin: 2% 15%;
    border-radius: 5%;
    padding: 1.5% 4%;    
    overflow: hidden;
    height: 79%;
}

.individual-planet-wrapper h1 {
    color: white;
    font-family: 'Permanent Marker', sans-serif;
}

.individual-planet-wrapper p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.planets-funfacts p::first-letter {
    color: aqua;
}

.planets-statistics p::first-letter {
    color: plum;
}

.planets-images {
    display: flex;
}

.planets-images img {
    margin-left: 20px;
    margin-top: 14px;
    border: 2px solid palevioletred;
}

.planets-images img:nth-child(2) {
    margin-bottom: 17px;
}

.planets-idk {
    display: flex;
    margin-top: 20px;
}

.planets-idk img {
    margin-left: 20px;
    border: 2px solid lavender;
}

.planets-idk img:nth-child(2) {     
    margin-top: -20px;    
    margin-bottom: 17px;
    margin-left: 50px;
}

.planets-idk img:nth-child(3) {
    margin-left: 60px;
}

.individual-planet-wrapper p img {
    float: right;
    padding-left: 1em;
    width: 10em;
    height: 10em;
}

.planet-interactive-area {
    display: flex;
    flex-direction: column;
    background: black;
    overflow: hidden;
    border: 1px solid white;
    height: 18.5em;
}

.planet-interactive-area button {
    color:white; 
    width: 18em;
    height: 3em;
    font-family: 'Permanent Marker', sans-serif;
    border: none;
    color: black;
    padding: 0;
    margin: 0;
}

.planet-buttons button:nth-child(1) {
    background: aqua;
}

.planet-buttons button:nth-child(2) {
    background: palevioletred;
}

.planet-buttons button:nth-child(3) {
    background: plum;
}

.planet-buttons button:nth-child(4) {
    background: lavender;
}

.planet-buttons {
    display: flex;
}

.planets-funfacts {
    display: block;
}

.planets-images {
    display: none;
}

.planets-statistics {
    display: none;
}

.planets-idk {
    display: none;
}

.planets-content {
    height: 15em;
    width: 55em;
    padding: 0% 2%;
}

.planets-content .fact {
    color: white;
    font-family: 'Permanent Marker', sans-serif;
}

.planets-content p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Sun/Moon Pages */

.sun-moon-wrapper {
    background-color: black;
    margin: 2.1% 15%;
    border-radius: 5%;
    padding: 1.5% 4%;  
    overflow: hidden;  
    display: flex;              
    height: 79%;
}

.sun-moon-buttons {
    flex: 2;
    width: 25%;
}

.sun-moon-buttons img {
    position: relative;
    height: 88%;
    width: 150%;
    z-index: 2;
    left: -80%;
    top: 5%;
}

.sun-moon-button1 {
    z-index: 3;
    background-color: orange;
    left: 27.5%;
    top: 25%;
    width: 7em;
    height: 4em;
    transition-duration: 1s;
    font-family: 'Permanent Marker', sans-serif;
    position: absolute;
}

.sun-moon-button1:hover {
    background-color: black;
    color: orange;
}

.sun-moon-button2 {
    z-index: 10;
    background-color: orange;
    left: 31%;
    top: 50%;
    width: 7em;
    height: 4em;
    transition-duration: 1s;
    font-family: 'Permanent Marker', sans-serif;
    position: absolute;
}

.sun-moon-button2:hover {
    background-color: black;
    color: orange;
}

.sun-moon-button3 {
    z-index: 10;
    background-color: orange;
    left: 27.5%;
    top: 75%;
    width: 7em; 
    height: 4em;
    position: absolute;
    transition-duration: 1s;
    font-family: 'Permanent Marker', sans-serif;
}

.sun-moon-button3:hover {
    background-color: black;
    color: orange;
}

.sun-moon-content {
    flex: 4;
    position: relative;
    left: 0;
    max-width: 70%;
    max-height: 100%;
    border: 2px solid white;
}

.sun-moon-content {
    display: block;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
}

#sun- h2, h3 {
    font-family: 'Permanent Marker', sans-serif;
    padding: 0;
    margin: 0;
    color: orange;
    text-align: center;
}

#moon- h2, h3 {
    font-family: 'Permanent Marker', sans-serif;
    padding: 0;
    margin: 0;
    color: grey;
    text-align: center;
}

#sun- h3 {
    color: orange;
}

.sun-moon-content p {
    font-family: 'Roboto', sans-serif;  
    text-align: center;
}

.sun-moon-content1 {
    color: white;
}

.sun-moon-content2 {
    color: white;
    display: none;
}

.sun-moon-content3 {
    color: yellow; 
    Display: none;
    margin-top: 8%;
}

.sun-moon-content3 iframe {
    text-align: center;
    margin-top: 5em;
}

#moon-color1 {
    background-color: grey;
}

#moon-color2 {
    background-color: grey;
}

#moon-color3 {
    background-color: grey;
}

#moon-color1:hover {
    background-color: black;
    color: grey;

}

#moon-color2:hover {
    background-color: black;
    color: grey;
}

#moon-color3:hover {
    background-color: black;
    color: grey;
}

/* Quiz Page */

#quiz-wrapper {
    background-color: black;
    margin: 4.5% 15%;
    border-radius: 5%;
    padding: 1.5% 4%;  
    overflow: hidden;        
}

#quiz-form {
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
}

#quiz-wrapper h1 {
    font-family:'Permanent Marker', sans-serif;
    color: white;
    margin: 0 5px;
    padding: 0;
}

#quiz-wrapper h2{
    font-family: 'Permanent Marker', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#quiz-row-1 {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 10%;
    border: 1px solid white;
    flex: 1;
    margin: 5px;   
    float: left; 
}

#quiz-row-1:hover {
    background-color: red;
    box-shadow: 2.5px 5px;
}

#quiz-row-2 {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 10%;
    border: 1px solid white;
    flex: 1;
    margin: 5px;
}

#quiz-row-2:hover {
    background-color: orange;
    box-shadow: 2.5px 5px;
}

#quiz-row-3 {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 10%;
    border: 1px solid white;
    flex: 1;
    margin: 5px;
}

#quiz-row-3:hover {
    background-color: silver;
    box-shadow: 2.5px 5px;
}

.quiz-button {
    text-align: center;
    margin-bottom: 0;
}

.quiz-button input {
    padding: 12.5px 25px;
    margin-top: 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10%;
    font-family: 'Permanent Marker', sans-serif;
    border: 1px solid white;
    margin-bottom: 0;
    transition-duration: 1s;
}

.quiz-button input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition-duration: 1s;
}

/* About Us Page */

#aboutus-wrapper {
    background-color: black;
    margin: 1% 15%;
    border-radius: 5%;
    padding: 1.5% 4%;  
    overflow: scroll;  
    display: inline-block;
    height: 79%;
}

#aboutus-wrapper p::before {
    content: "\2605";
    margin-right: 15px;
    color: white;
}

#aboutus-wrapper p::before:nth-of-type() {
    content: "\2605";
    margin-right: 15px;
}


#aboutus-wrapper h1 {
    color: white;
    font-family: 'Permanent Marker', sans-serif;
}

#aboutus-wrapper hr {
    background: white;
    margin-bottom: 40px;
}

.ref-color-1 {
    color: salmon;
}

.ref-color-2 {
    color: palevioletred
}

.ref-color-3 {
    color: lightcoral
}

.ref-color-4 {
    color: darkorange
}

.ref-color-5 {
    color: darkgoldenrod
}

.ref-color-6 {
    color: darkkhaki;
}

/* Code for laptop */ 

@media screen and (max-width: 1440px) {
    /* Home Page */
    #home-wrapper {
        margin: 3.5% 15%;
    }

    /* Sun and Moon Page */
    .sun-moon-content {
        overflow: scroll;
    }

    #quiz-wrapper {
        margin: 3.5% 15%;
    }

}

/* Code for mobile */